Fonksiyonel Gereksinimler (Functional Requirements)
1.) Kullanıcılar hesap oluşturabilmeli.
2.) Kullanıcılar şifreleriyle giriş yapabilmelidir.
3.) Kullanıcılar çalışma sürelerini bir sayaç/kronometre yardımıyla kaydedebilmelidir.
4.) Kullanıcılar test çözebilmelidir.
5.) Kullanıcılar test çözerken sorular arasında geçiş yapabilmeli.
6.) Kullanıcılar test çözerken yanıtlarını değiştirebilmeli
7.) Kullanıcılar test sorusunun cevabının doğru/yanlış olduğunu görebilmeli
8.) Kullanıcılar test kategorilerinden seçim yapabilmeli
9.) Kullanıcıların çalışma istatistikleri ve test sonuçları kaydedilmelidi/görüntülenebilmeli.
10.) Kullanıcılar birbirlerinin çalışma sürelerini görüntüleyebilmelidir
11.) Kullanıcılar birbirlerinin test başarı oranlarını görüntüleyebilmelidir.
12.) Kullanıcılar hesaplarından çıkış yapabilmelidir.

Fonksiyonel Olmayan Gereksinimler (Non-Functional Requirements)
1.) Uygulama, kullanıcı dostu bir arayüze sahip olmalıdır.
2.) Sistem, yoğun kullanım altında performans kaybı olmadan çalışmalıdır (örneğin, saniyede 1000 kullanıcı isteğini karşılayabilmelidir).
3.) Güvenlik açısından kimlik doğrulama mekanizmaları kullanılmalıdır.
4.) Veriler şifrelenerek saklanmalı.
5.) Uygulama Android platformunda stabil çalışmalıdır.


Efor Tahminleri

Aşama			             Tahmini Süre		   Kişi Sayısı	  Kişi/Saat Cinsinden Efor
Gereksinim Toplama	        4 gün (16 saat)		 4 kişi		     64  saat
Tasarım			            4 gün (16 saat)		 2 kişi		     32  saat
Geliştirme		             13 gün (52 saat)	  4 kişi		      208  saat
Test ve Düzeltmeler	     4 gün (16 saat)	  2 kişi		      32  saat
Dağıtım			         2 gün (8 saat)		  2 kişi	   	      16  saat
Toplam Proje Eforu	        30 gün (120 saat)		 -               352  saat


Efor tahminleri uzman görüşünden (expert judgment) yararlanılarak yapılmıştır. 
Önceki benzer projelerden edinilen bilgiler ve ekip üyelerinin deneyimleri doğrultusunda her aşamanın süresi belirlenmiştir.

Toplam Proje Eforu:
Proje sürecindeki tüm aşamalar ve görevler göz önünde bulundurularak hesaplanan toplam proje eforu 352 kişi-saat olarak belirlenmiştir.
Bu tahminler, proje ilerledikçe Scrum metodolojisi çerçevesinde gözden geçirilecek ve gerektiğinde güncellenecektir


Task Assignments:

Rıdvan Umut Ünal	    Proje Yöneticisi / Frontend Geliştirici 
Emirhan Gül	            Backend Geliştirici 
Taha Denizbek Tavlan	Frontend Geliştirici 
Utku Karatepe	        Backend Geliştirici 


Rıdvan Umut Ünal ve Taha Denizbek Tavlan:

(Flutter - UI & Navigasyon) ve (Flutter - Backend Entegrasyonu & Veri Yönetimi)
Uygulamanın genel UI tasarımı ve bileşenleri
Sayfalar arası navigasyon ve state yönetimi
Kullanıcı arayüzünün optimize edilmesi
Flask API ile bağlantının kurulması
Kullanıcı giriş/çıkış işlemleri
Test çözme ekranı ve sonuçların kaydedilmesi
Ders sayacı & lider tablosu veri entegrasyonu

Utku Karatepe: 

(Flask)
Kullanıcı yönetimi (kayıt, giriş, şifre işlemleri)
Test havuzu yönetimi (test ekleme, silme, güncelleme)
Kullanıcı veri sonuçlarının saklanması ve sorgulanması
Lider tablosu ve puan sisteminin backend tarafında geliştirilmesi

Emirhan Gül

(MySQL & Veri Yönetimi)
MySQL ile veritabanı tasarımına destek vermesi
Verilerin saklanması ve sorgulanması
Tabloların oluşturulması, veri ilişkilerinin yönetilmesi
Giriş yapan kullanıcıların verilerinin veritabanında olup olmadığının kontrolünün yapılması
Çalışma süresinin ve başarı oranlarının veritabanında saklanması
Verilerin CRUD işlemleri (Create, Read, Update, Delete)
Backend geliştiricisi ile birlikte veritabanı optimizasyonu yapması
İkincil görev: Proje dokümantasyonu ve test süreçlerine destek olmak

Task Matrix :

Functional Requirements                             Rıdvan Umut Ünal
Non-Functional Requirements                         Rıdvan Umut Ünal
Effort Estimations:                                 Rıdvan Umut Ünal
Task Assignments:                                   Rıdvan Umut Ünal
 