Fonksiyonel Gereksinimler (Functional Requirements)
1.) Kullanıcılar hesap oluşturabilmeli.
2.) Kullanıcılar şifreleriyle giriş yapabilmelidir.
3.) Kullanıcılar çalışma sürelerini bir sayaç/kronometre yardımıyla kaydedebilmelidir.
4.) Kullanıcılar test çözebilmelidir.
5.) Kullanıcılar test çözerken sorular arasında geçiş yapabilmeli.
6.) Kullanıcılar test çözerken yanıtlarını değiştirebilmeli
7.) Kullanıcılar test kategorilerinden seçim yapabilmeli
8.) Kullanıcıların çalışma istatistikleri ve test sonuçları kaydedilmelidi/görüntülenebilmeli.
9.) Kullanıcılar birbirlerinin çalışma sürelerini görüntüleyebilmelidir
10.) Kullanıcılar birbirlerinin test başarı oranlarını görüntüleyebilmelidir.
11.)Kullanıcılar bildirim alarak günlük çalışma hedefleri konusunda bilgilendirilebilmelidir.

Fonksiyonel Olmayan Gereksinimler (Non-Functional Requirements)
1.) Uygulama, kullanıcı dostu bir arayüze sahip olmalıdır.
2.) Sistem, yoğun kullanım altında performans kaybı olmadan çalışmalıdır (örneğin, saniyede 1000 kullanıcı isteğini karşılayabilmelidir).
3.) Güvenlik açısından OAuth veya JWT tabanlı kimlik doğrulama mekanizmaları kullanılmalıdır.
4.) Veriler şifrelenerek saklanmalı.
5.) Uygulama Android ve iOS platformlarında stabil çalışmalıdır.

3.Efor Tahminleri
Gereksinim Analizi	15 saat	Gereksinimlerin belirlenmesi ve dokümantasyonu
Tasarım	            20 saat	Arayüz ve sistem mimarisi tasarımı
Geliştirme	        100	saat Backend ve frontend geliştirme
Test	            30 saat Manuel ve otomatik testlerin uygulanması
Dağıtım ve Bakım	10 saat Sunucu yapılandırması ve hata giderme